@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
%centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}
h2{
    font-size:50px;
}
.slider {
    width: 100%;
    height: 100%;
    background-color: tomato;
}
header {
    nav {
        background-color: #F0F3F5;
        transition: all .5s;
        max-height: 80px;
        overflow: hidden;
        >* {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 16px;
            color: #888A8B;
            font-size: 20px;
        }
        a:hover {
            background-color: #FEFEFE;
        }
    }
}

.botonMenu {
    width: 45px;
    height: 45px;
    border: 2px solid #888D8F;
    border-radius: 10%;
    padding: 10px 8px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    .raya {
        width: 80%;
        height: 3px;
        background-color: #888D8F;
    }
}

#bienvenidos,
#nosotros,
#carta,
#locales,
#reservas,
#contactenos {
    min-height: 100vh;
}

#bienvenidos,
#nosotros {
    header {
        padding: 2em;
        @extend %centrar;
        flex-direction: column;
        h1 {
            @extend %centrar;
            font-size: 2em;
        }
        .circuloGenerico {
            margin: 2em;
        }
        p {
            @extend %centrar;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#bienvenidos {
    header {
        p {
            @extend %centrar;
            width: 70%;
        }
    }
}

#nosotros {
    background-color: #F0F3F5;
    header {
        p {
            @extend %centrar;
            width: 100%;
            text-align: center;
        }
    }
    .contenedor {
        background-color: #FFFFFF;
        
        .imagen {
            width: 100%;
        }
        .tabs {
            width: 90%;
            background-color: #FFFFFF;
            margin: 0 auto;
            .titulos {
                display: flex;
                background-color: #FFFFFF;
                .tab {
                    width: 30%;
                    background-color: #01B2E3;
                    color: #eee;
                    font-size: 20px;
                    padding: 1em;
                    cursor: pointer;
                }
                .tabSelect{
                    background-color: #FFFFFF;
                    color: #323232;
                }
            }
            .contenidos {
                padding: 1.5em;
            }
        }
    }
}


.contenidos{
    width: 100%;
}
.contenidos .tabContenido {
    line-height: 1.6;
    color: #777777;
}
.v{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bac{
    
    position: fixed;
    top: 0%;
    width: 100%;
    transition: all .2s ease-in-out;
   animation: moveNav .2s ease-in-out forwards;
   z-index: 1000;
    
}
.navegacion{
    transition: all .2s ease-in-out;
}
@keyframes moveNav{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}


#carta{
    width: 100%;
    background: #fff;
    padding: 40px;


}
#carta h2{
    width: 100%;
    text-align: center;
    
}
#carta p{
    margin: 50px 0;
    width: 100%;
    text-align: center;
}
#carta img {
    width: 100%;
}
#carta ul{
    width: 100%;
    display: flex;
    background: #222;
    margin: 0 auto;
    
}
#carta ul li{
    list-style: none;
    cursor: pointer;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
#carta ul li a{
    text-decoration: none;
    color: #eee;
    padding: 20px;
    text-align: center;
    

}
#carta ul li:hover{
    background: #666;
}

.platos{
    opacity: 0;
    width: 100%;
    height: auto;
    transition: all .5s ease-in-out;
    position: absolute;
    transform: scale(.1);
    background: #fff;
    left: 0;
    padding: 20px;
    

}

.show-platos{
    opacity: 1;
    transform: scale(1);
}

#locales{
    transition: all .2s ease-in-out;
    background: #eef;
    width: 100%;
    padding: 40px;
    position: relative;
}
#locales h2{
    text-align: center;
    margin-bottom: 40px;
}
#locales .container-locales{
    display: flex;
    height: 100%;
    position: relative;
    
}
.ubi-locales{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: auto;
}
.ubi-locales ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
    
    height: 100%;
    padding: 0 40px;
}
.ubi-locales ul li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.ubi-locales ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #01B2E3;
    font-size: 30px;
    text-align: center;
    
}
.img-locales{
    width: 50%;
    height: 100%;
}

.img-locales img{
    height: 500px;
}
#contactanos{
    widows: 100%;

}
#contactanos h2{
    text-align: center;
}
#contactanos p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 4;
    font-size: 20px;
}