%centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    background-color: tomato;
}
header {
    nav {
        background-color: #F0F3F5;
        transition: all .5s;
        max-height: 80px;
        overflow: hidden;
        >* {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 16px;
            color: #888A8B;
            font-size: 20px;
        }
        a:hover {
            background-color: #FEFEFE;
        }
    }
}

.botonMenu {
    width: 45px;
    height: 45px;
    border: 2px solid #888D8F;
    border-radius: 10%;
    padding: 10px 8px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    .raya {
        width: 80%;
        height: 3px;
        background-color: #888D8F;
    }
}

#bienvenidos,
#nosotros,
#carta,
#locales,
#reservas,
#contactenos {
    min-height: 100vh;
}

#bienvenidos,
#nosotros {
    header {
        padding: 2em;
        @extend %centrar;
        flex-direction: column;
        h1 {
            @extend %centrar;
            font-size: 2em;
        }
        .circuloGenerico {
            margin: 2em;
        }
        p {
            @extend %centrar;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#bienvenidos {
    header {
        p {
            @extend %centrar;
            width: 70%;
        }
    }
}

#nosotros {
    background-color: #F0F3F5;
    header {
        p {
            @extend %centrar;
            width: 100%;
            text-align: center;
        }
    }
    .contenedor {
        background-color: #FFFFFF;
        margin-bottom: 30px;
        .imagen {
            width: 100%;
        }
        .tabs {
            width: 90%;
            margin: auto;
            background-color: #FFFFFF;
            .titulos {
                display: flex;
                background-color: #FFFFFF;
                .tab {
                    width: 30%;
                    background-color: #01B2E3;
                    color: #eee;
                    font-size: 20px;
                    padding: 1em;
                    cursor: pointer;
                }
                .tabSelect{
                    background-color: #FFFFFF;
                    color: #323232;
                }
            }
            .contenidos {
                padding: 1.5em;
            }
        }
    }
}

#carta {
    background-color: red;
}
.contenidos{
    width: 100%;
}
.contenidos .tabContenido {
    line-height: 1.6;
    color: #777777;
}
.v{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bac{
    
    position: fixed;
    top: 0%;
    width: 100%;
    transition: all .2s ease-in-out;
   animation: moveNav .2s ease-in-out forwards;
    
}
.navegacion{
    transition: all .2s ease-in-out;
}
@keyframes moveNav{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0px);
    }
}