@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
%centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
}

h2 {
    font-size: 50px;
}

.sliderContainer {
    z-index: 0 !important;
    overflow: hidden;
    position: relative;
    .sliderWrapper {
        height: 100%;
        display: flex;
        .sliderItem {
            flex: 1;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.sliderContainer{
    height: 100vh;
}

.sliderButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    button {
        border: none;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin: 0 10px;
        background-color: #323232;
    }
    button.activo {
        background-color: #eee;
        color: #323232;
    }
    
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    nav {
        background-color: #F0F3F5;
        transition: all .5s;
        max-height: 80px;
        overflow: hidden;
        >* {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 16px;
            color: #888A8B;
            font-size: 20px;
        }
        a:hover {
            background-color: #FEFEFE;
        }
    }
}

.botonMenu {
    width: 45px;
    height: 45px;
    border: 2px solid #888D8F;
    border-radius: 10%;
    padding: 10px 8px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    .raya {
        width: 80%;
        height: 3px;
        background-color: #888D8F;
    }
}

#bienvenidos,
#nosotros,
#carta,
#locales,
#reservas,
#contactenos {
    min-height: 100vh;
}

#bienvenidos,
#nosotros {
    header {
        padding: 2em;
        @extend %centrar;
        flex-direction: column;
        h1 {
            @extend %centrar;
            font-size: 2em;
        }
        .circuloGenerico {
            margin: 2em;
        }
        p {
            @extend %centrar;
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

#bienvenidos {
    header {
        p {
            @extend %centrar;
            width: 70%;
        }
    }
}

#nosotros {
    background-color: #F0F3F5;
    header {
        p {
            @extend %centrar;
            width: 100%;
            text-align: center;
        }
    }
    .contenedor {
        background-color: #F0F3F5;
        display: flex;
        flex-direction: column;
        .imagen {
            width: 100%;
            margin-bottom: 30px;
        }
        .tabs {
            width: 90%;
            background-color: #F0F3F5;
            margin: 0 auto;
            .tituloContenedor {
                display: flex;
                background-color: #FFFFFF;
                .titulo {
                    width: 30%;
                    background-color: #01B2E3;
                    color: #eee;
                    font-weight: bold;
                    font-size: 18px;
                    padding: .8em;
                    cursor: pointer;
                }
                .activo {
                    background-color: #FFFFFF;
                    color: #646464;
                }
            }
            .contenidoContenedor {
                padding: 1.5em;
            }
        }
    }
}

.contenidos {
    width: 100%;
}

.contenidos .tabContenido {
    line-height: 1.6;
    color: #777777;
}

.v {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bac {
    position: fixed;
    top: 0%;
    width: 100%;
    transition: all .2s ease-in-out;
    animation: moveNav .2s ease-in-out forwards;
    z-index: 1000;
}

.navegacion {
    transition: all .2s ease-in-out;
}


#carta {
    width: 100%;
    background: #fff;
    h2 {
        width: 100%;
        text-align: center;
    }
    p {
        margin: 50px 0;
        width: 100%;
        text-align: center;
    }
    img {
        width: 100%;
    }
    .carta {
        .contenedorTitulos {
            display: flex;
            .tipo {
                flex: 1;
                padding: 1em;
                @extend %centrar;
                cursor: pointer;
                background: #222;
                color: #eee;
                transition: all .3s;
            }
            .tipo:hover {
                background: #666;
            }
        }
        .contenedorTipos {
            position: relative;
            .contenedorPlatos {
                display: flex;
                flex-wrap: wrap;
                opacity: 0;
                position: absolute;
                transform: scale(.1);
                transition: all .5s ease-in-out;
                .plato {
                    @extend %centrar;
                    width: 50%;
                    flex-direction: column;
                    margin: 35px 0;
                    img {
                        width: 35%;
                        border: 5px solid darkgray;
                        border-radius: 50%;
                    }
                    .datos {
                        h3 {
                            color: #646464;
                            font-weight: normal;
                            cursor: pointer;
                        }
                        span {
                            color: deepskyblue;
                            font-size: 20px;
                        }
                        img,
                        h3,
                        p,
                        span {
                            margin: 5px 0;
                        }
                    }
                }
            }
            .show-platos {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

#locales {
    transition: all .2s ease-in-out;
    background: #eef;
    width: 100%;
    padding: 40px;
    position: relative;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    .container-locales {
        display: flex;
        height: 100%;
        position: relative;
    }
}

.ubi-locales {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: auto;
}

.ubi-locales ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
    height: 100%;
    padding: 0 40px;
}

.ubi-locales ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ubi-locales ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #01B2E3;
    font-size: 30px;
    text-align: center;
}

.img-locales {
    width: 50%;
    height: 100%;
    img {
        max-width: 100%;
    }
}

#contactanos {
    widows: 100%;
}

#contactanos h2 {
    text-align: center;
}

#contactanos p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 4;
    font-size: 20px;
}

/* MEDIA QUERIES */

@media (min-width: 864px) {
    #nosotros,
    #carta {
        width: 90%;
        margin: auto;
    }
    #nosotros {
        .contenedor {
            flex-direction: row;
            justify-content: space-between;
            .imagen,
            .tabs {
                width: 49%;
            }
            .tabs {
                margin: 0;
            }
        }
    }
    #carta {
        .plato {
            width: 33.3333% !important;
            flex-direction: row !important;
            .datos {
                margin-left: 25px;
            }
        }
    }
}

.formulario {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
}

input {
    width: 80%;
    margin: 1vh;
    height: 60px;
    font-size: 20px;
    border-radius: 4px;
    padding: 3%;
    color: #555;
    border: 2px solid #ccc;
    background-color: #f0f3f5;
}

.ellanoteama {
    width: 80%;
    margin: 1vh;
    font-size: 20px;
    border-radius: 4px;
    padding: 20px;
    color: #555;
    border: 2px solid #ccc;
    background-color: #f0f3f5;
    height: 20vh;
}

.enviar {
    width: 40%;
    border-color: #00b2e3;
    background-color: #00b2e3;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
}

#correcto {}
