@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
.botonRegresar, #bienvenidos header,
#nosotros header,
#carta header, #bienvenidos header h1,
#nosotros header h1,
#carta header h1, #bienvenidos header p,
#nosotros header p,
#carta header p, #carta .carta .contenedorTitulos .grupo1 .tipo,
#carta .carta .contenedorTitulos .grupo2 .tipo, #carta .carta .contenedorTipos .contenedorPlatos .plato, footer, .formulario, .formulario .formGrupo1,
.formulario .formGrupo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}

html h2,
body h2 {
  font-size: 50px;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.botonRegresar {
  position: fixed;
  z-index: 10000;
  right: 2em;
  bottom: 4em;
  background-color: deepskyblue;
  color: #eee;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .5;
  transition: all .3s;
  text-decoration: none;
}

.botonRegresar:hover {
  opacity: 1;
}

header nav {
  background-color: #F0F3F5;
  transition: all .5s;
  max-height: 80px;
  overflow: hidden;
}

header nav > * {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px;
  color: #888A8B;
  font-size: 20px;
}

header nav a:hover {
  background-color: #FEFEFE;
}

.botonMenu {
  width: 45px;
  height: 45px;
  border: 2px solid #888D8F;
  border-radius: 10%;
  padding: 10px 8px;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.botonMenu .raya {
  width: 80%;
  height: 3px;
  background-color: #888D8F;
}

#bienvenidos,
#nosotros,
#carta,
#locales,
#reservas,
#contactenos {
  min-height: 100vh;
}

#bienvenidos header,
#nosotros header,
#carta header {
  padding: 2em;
  flex-direction: column;
}

#bienvenidos header h1,
#nosotros header h1,
#carta header h1 {
  font-size: 2em;
}

#bienvenidos header .circuloGenerico,
#nosotros header .circuloGenerico,
#carta header .circuloGenerico {
  margin: 2em;
}

#bienvenidos img,
#nosotros img,
#carta img {
  max-width: 100%;
  max-height: 100%;
}

#bienvenidos header p {
  width: 70%;
}

#bienvenidos .v {
  width: 100%;
  display: flex;
  justify-content: center;
}

#nosotros {
  background-color: #F0F3F5;
}

#nosotros header p {
  width: 100%;
  text-align: center;
}

#nosotros .contenedor {
  background-color: #F0F3F5;
  display: flex;
  flex-direction: column;
}

#nosotros .contenedor .imagen {
  width: 100%;
  margin-bottom: 30px;
}

#nosotros .contenedor .tabs {
  width: 90%;
  background-color: #F0F3F5;
  margin: 0 auto;
}

#nosotros .contenedor .tabs .tituloContenedor {
  display: flex;
  background-color: #FFFFFF;
}

#nosotros .contenedor .tabs .tituloContenedor .titulo {
  width: 30%;
  background-color: #01B2E3;
  color: #eee;
  font-weight: bold;
  font-size: 18px;
  padding: .8em;
  cursor: pointer;
}

#nosotros .contenedor .tabs .tituloContenedor .activo {
  background-color: #FFFFFF;
  color: #646464;
}

#nosotros .contenedor .tabs .contenidoContenedor {
  padding: 1.5em;
}

.contenidos {
  width: 100%;
}

.contenidos .tabContenido {
  line-height: 1.6;
  color: #777777;
}

.bac {
  position: fixed;
  top: 0%;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: moveNav .2s ease-in-out forwards;
  z-index: 1000;
}

.navegacion {
  transition: all .2s ease-in-out;
}

#carta {
  width: 100%;
  background: #fff;
}

#carta h2 {
  width: 100%;
  text-align: center;
}

#carta p {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

#carta img {
  width: 100%;
}

#carta .carta .contenedorTitulos {
  display: flex;
  flex-wrap: wrap;
}

#carta .carta .contenedorTitulos .grupo1,
#carta .carta .contenedorTitulos .grupo2 {
  width: 100%;
  display: flex;
}

#carta .carta .contenedorTitulos .grupo1 .tipo,
#carta .carta .contenedorTitulos .grupo2 .tipo {
  flex: 1;
  padding: .5em;
  cursor: pointer;
  background: #222;
  color: #eee;
  transition: all .3s;
}

#carta .carta .contenedorTitulos .grupo1 .tipo:hover,
#carta .carta .contenedorTitulos .grupo2 .tipo:hover {
  background: #666;
}

#carta .carta .contenedorTipos {
  position: relative;
}

#carta .carta .contenedorTipos .contenedorPlatos {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  position: absolute;
  transform: scale(0.1);
  transition: all .5s ease-in-out;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato {
  width: 50%;
  flex-direction: column;
  margin: 35px 0;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato img {
  width: 35%;
  border: 5px solid darkgray;
  border-radius: 50%;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos h3 {
  color: #646464;
  font-weight: normal;
  cursor: pointer;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos span {
  color: deepskyblue;
  font-size: 20px;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos img,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos h3,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos p,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos span {
  margin: 5px 0;
}

#carta .carta .contenedorTipos .show-platos {
  opacity: 1;
  transform: scale(1);
}

#locales {
  background: #eef;
  padding: 40px;
  position: relative;
}

#locales h2 {
  text-align: center;
  margin-bottom: 40px;
}

#locales .container-locales {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

#locales .container-locales .ubi-locales,
#locales .container-locales .img-locales {
  width: 100%;
}

#locales .container-locales .ubi-locales {
  margin-bottom: 2em;
  display: flex;
  justify-content: flex-end;
  height: auto;
}

#locales .container-locales .ubi-locales ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
  padding: 0 40px;
}

#locales .container-locales .ubi-locales ul li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#locales .container-locales .ubi-locales ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #01B2E3;
  font-size: 30px;
  text-align: center;
}

#locales .container-locales .img-locales {
  height: 100%;
}

#locales .container-locales .img-locales img {
  max-width: 100%;
}

#contactanos h2 {
  text-align: center;
}

#contactanos p {
  width: 95%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  line-height: 2em;
}

footer {
  background-color: #323232;
  color: #eee;
  font-size: 18px;
  padding: 4em 0;
}

.formulario {
  flex-flow: row wrap;
}

.formulario .formGrupo1,
.formulario .formGrupo2 {
  width: 100%;
  flex-flow: column wrap;
}

.formulario input,
.formulario textarea {
  width: 90%;
  margin: .5em;
  padding: 1em;
  font-size: 18px;
  border-radius: 7px;
  color: #555;
  border: none;
  background-color: #f0f3f5;
}

.formulario .enviar {
  width: 40%;
  border-color: #00b2e3;
  background-color: #00b2e3;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* MEDIA QUERIES */
@media (min-width: 864px) {
  #nosotros,
  #carta {
    width: 90%;
    margin: auto;
  }
  #nosotros .grupo1,
  #nosotros .grupo2,
  #carta .grupo1,
  #carta .grupo2 {
    width: 50% !important;
  }
  #nosotros .grupo1 .tipo,
  #nosotros .grupo2 .tipo,
  #carta .grupo1 .tipo,
  #carta .grupo2 .tipo {
    padding: 1em !important;
  }
  #nosotros .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
  #nosotros .contenedor .imagen,
  #nosotros .contenedor .tabs {
    width: 49%;
  }
  #nosotros .contenedor .tabs {
    margin: 0;
  }
  #carta .plato {
    width: 33.3333% !important;
    flex-direction: row !important;
  }
  #carta .plato .datos {
    margin-left: 25px;
  }
  #locales .ubi-locales,
  #locales .img-locales {
    width: 50% !important;
  }
  #contactanos .formGrupo1,
  #contactanos .formGrupo2 {
    width: 50%;
  }
}
/*# sourceMappingURL=estilos.css.map */