@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
#bienvenidos header,
#nosotros header, #bienvenidos header h1,
#nosotros header h1, #bienvenidos header p,
#nosotros header p, #carta .carta .contenedorTitulos .tipo, #carta .carta .contenedorTipos .contenedorPlatos .plato {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #fff;
}

h2 {
  font-size: 50px;
}

.sliderContainer {
  z-index: 0 !important;
  overflow: hidden;
  position: relative;
}

.sliderContainer .sliderWrapper {
  height: 100%;
  display: flex;
}

.sliderContainer .sliderWrapper .sliderItem {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

.sliderContainer {
  height: 100vh;
}

.sliderButtons {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.sliderButtons button {
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 10px;
  background-color: #323232;
}

.sliderButtons button.activo {
  background-color: #eee;
  color: #323232;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header nav {
  background-color: #F0F3F5;
  transition: all .5s;
  max-height: 80px;
  overflow: hidden;
}

header nav > * {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 16px;
  color: #888A8B;
  font-size: 20px;
}

header nav a:hover {
  background-color: #FEFEFE;
}

.botonMenu {
  width: 45px;
  height: 45px;
  border: 2px solid #888D8F;
  border-radius: 10%;
  padding: 10px 8px;
  cursor: pointer;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.botonMenu .raya {
  width: 80%;
  height: 3px;
  background-color: #888D8F;
}

#bienvenidos,
#nosotros,
#carta,
#locales,
#reservas,
#contactenos {
  min-height: 100vh;
}

#bienvenidos header,
#nosotros header {
  padding: 2em;
  flex-direction: column;
}

#bienvenidos header h1,
#nosotros header h1 {
  font-size: 2em;
}

#bienvenidos header .circuloGenerico,
#nosotros header .circuloGenerico {
  margin: 2em;
}

#bienvenidos img,
#nosotros img {
  max-width: 100%;
  max-height: 100%;
}

#bienvenidos header p {
  width: 70%;
}

#nosotros {
  background-color: #F0F3F5;
}

#nosotros header p {
  width: 100%;
  text-align: center;
}

#nosotros .contenedor {
  background-color: #F0F3F5;
  display: flex;
  flex-direction: column;
}

#nosotros .contenedor .imagen {
  width: 100%;
  margin-bottom: 30px;
}

#nosotros .contenedor .tabs {
  width: 90%;
  background-color: #F0F3F5;
  margin: 0 auto;
}

#nosotros .contenedor .tabs .tituloContenedor {
  display: flex;
  background-color: #FFFFFF;
}

#nosotros .contenedor .tabs .tituloContenedor .titulo {
  width: 30%;
  background-color: #01B2E3;
  color: #eee;
  font-weight: bold;
  font-size: 18px;
  padding: .8em;
  cursor: pointer;
}

#nosotros .contenedor .tabs .tituloContenedor .activo {
  background-color: #FFFFFF;
  color: #646464;
}

#nosotros .contenedor .tabs .contenidoContenedor {
  padding: 1.5em;
}

.contenidos {
  width: 100%;
}

.contenidos .tabContenido {
  line-height: 1.6;
  color: #777777;
}

.v {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bac {
  position: fixed;
  top: 0%;
  width: 100%;
  transition: all .2s ease-in-out;
  animation: moveNav .2s ease-in-out forwards;
  z-index: 1000;
}

.navegacion {
  transition: all .2s ease-in-out;
}

#carta {
  width: 100%;
  background: #fff;
}

#carta h2 {
  width: 100%;
  text-align: center;
}

#carta p {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

#carta img {
  width: 100%;
}

#carta .carta .contenedorTitulos {
  display: flex;
}

#carta .carta .contenedorTitulos .tipo {
  flex: 1;
  padding: 1em;
  cursor: pointer;
  background: #222;
  color: #eee;
  transition: all .3s;
}

#carta .carta .contenedorTitulos .tipo:hover {
  background: #666;
}

#carta .carta .contenedorTipos {
  position: relative;
}

#carta .carta .contenedorTipos .contenedorPlatos {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  position: absolute;
  transform: scale(0.1);
  transition: all .5s ease-in-out;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato {
  width: 50%;
  flex-direction: column;
  margin: 35px 0;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato img {
  width: 35%;
  border: 5px solid darkgray;
  border-radius: 50%;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos h3 {
  color: #646464;
  font-weight: normal;
  cursor: pointer;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos span {
  color: deepskyblue;
  font-size: 20px;
}

#carta .carta .contenedorTipos .contenedorPlatos .plato .datos img,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos h3,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos p,
#carta .carta .contenedorTipos .contenedorPlatos .plato .datos span {
  margin: 5px 0;
}

#carta .carta .contenedorTipos .show-platos {
  opacity: 1;
  transform: scale(1);
}

#locales {
  transition: all .2s ease-in-out;
  background: #eef;
  width: 100%;
  padding: 40px;
  position: relative;
}

#locales h2 {
  text-align: center;
  margin-bottom: 40px;
}

#locales .container-locales {
  display: flex;
  height: 100%;
  position: relative;
}

.ubi-locales {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  height: auto;
}

.ubi-locales ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
  padding: 0 40px;
}

.ubi-locales ul li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ubi-locales ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #01B2E3;
  font-size: 30px;
  text-align: center;
}

.img-locales {
  width: 50%;
  height: 100%;
}

.img-locales img {
  max-width: 100%;
}

#contactanos {
  widows: 100%;
}

#contactanos h2 {
  text-align: center;
}

#contactanos p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 4;
  font-size: 20px;
}

/* MEDIA QUERIES */
@media (min-width: 864px) {
  #nosotros,
  #carta {
    width: 90%;
    margin: auto;
  }
  #nosotros .contenedor {
    flex-direction: row;
    justify-content: space-between;
  }
  #nosotros .contenedor .imagen,
  #nosotros .contenedor .tabs {
    width: 49%;
  }
  #nosotros .contenedor .tabs {
    margin: 0;
  }
  #carta .plato {
    width: 33.3333% !important;
    flex-direction: row !important;
  }
  #carta .plato .datos {
    margin-left: 25px;
  }
}

.formulario {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
}

input {
  width: 80%;
  margin: 1vh;
  height: 60px;
  font-size: 20px;
  border-radius: 4px;
  padding: 3%;
  color: #555;
  border: 2px solid #ccc;
  background-color: #f0f3f5;
}

.ellanoteama {
  width: 80%;
  margin: 1vh;
  font-size: 20px;
  border-radius: 4px;
  padding: 20px;
  color: #555;
  border: 2px solid #ccc;
  background-color: #f0f3f5;
  height: 20vh;
}

.enviar {
  width: 40%;
  border-color: #00b2e3;
  background-color: #00b2e3;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
}
/*# sourceMappingURL=estilos.css.map */
